@font-face {
	font-family: "FGI-icons";
	src: url("../icons/FGI-icons.woff2?hc=uquery&t=1623050354&cors_uid=v2_icons_FGI-icons.woff2") format("woff2"),
url("../icons/FGI-icons.woff?hc=uquery&t=1623050354&cors_uid=v2_icons_FGI-icons.woff") format("woff"),
url("../icons/FGI-icons.ttf?hc=uquery&t=1623050354&cors_uid=v2_icons_FGI-icons.ttf") format("truetype");
}

span.icon:before {
	display: inline-block;
	font-family: "FGI-icons" !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: attr(data-icon);
}

span.icon {
	line-height: 1;
	display: inline-block;
	text-align: center;
	width: 1.25em;
	min-width: 1.25em;
}
