
/* 00_variables.css */
:root {
	--primary-text-color: rgba(0, 0, 0, 0.87);
	--secondary-text-color-alt: rgba(0, 0, 0, 0.7);
	--secondary-text-color: rgba(0, 0, 0, 0.54);
	--hint-text-color: rgba(0, 0, 0, 0.38);
	--hint-text-color-alt: rgba(0, 0, 0, 0.2);
	--divider-color: rgba(0, 0, 0, 0.12);
	--accent-text-color: #01579b;
	--accent-text-color-alt: #0288d1;
	--activated-text-color: #0277bd;
	--primary-background-color: #fafafa;
	--secondary-background-color: #eceff1;
	--accent-background-color: #eceff1;
	--warning-text-color: #dd2c00;
	--selection-background-color: #607d8b;
	--bar-icon-color: #607d8b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-text-color: rgba(255, 255, 255, 1);
		--secondary-text-color-alt: rgba(255, 255, 255, 0.87);
		--secondary-text-color: rgba(255, 255, 255, 0.7);
		--hint-text-color: rgba(255, 255, 255, 0.5);
		--hint-text-color-alt: rgba(255, 255, 255, 0.38);
		--divider-color: rgba(255, 255, 255, 0.12);
		--accent-text-color: #039be5;
		--accent-text-color-alt: #29b6f6;
		--activated-text-color: #03a9f4;
		--primary-background-color: #212121;
		--secondary-background-color: #21272b;
		--accent-background-color: #37474f;
		--warning-text-color: #ff3d00;
	}
}

/* 01_misc.css */
* {
	box-sizing: border-box !important;
	word-break: break-word; /* Bad idea, but it will make Safari happy :-( */
}

body {
	margin: 0;

	color: var(--primary-text-color);
	background-color: var(--primary-background-color);

	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

	font-size: 16px;
	line-height: 1.5;

	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body:lang(ja),
body:lang(zh),
body:lang(zh-CN),
body:lang(zh-TW) {
	line-height: 1.625;
}

a {
	text-decoration: none;
	color: var(--accent-text-color);
}

p a:hover {
	text-decoration: underline;
}

a,
a:hover,
a:active,
a:focus {
	outline: 0;
}

a:hover {
	color: var(--accent-text-color-alt);
}

pre {
	overflow-x: auto;
}

code {
	padding: 2px 4px;
	background-color: var(--accent-background-color);
	border-radius: 2px;
}


dl,
dd {
	margin: 0;
}

hr {
	margin: 0;

	border-style: none;
	height: 2px;
	background-clip: content-box;
	background-color: var(--divider-color);
}

p {
	margin: 0;
	margin-bottom: 7px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

picture {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-justify-content: center;
justify-content: center;
}

.activated {
	font-weight: 700;
}

::selection {
	color: #ffffff;
	background-color: var(--selection-background-color);
}

.small {
	font-size: 0.875rem;
}

.hide {
	display: none !important;
}


span.icon {
	position: relative;
}

span.icon>.platform-tooltip {
	display: none;
	position: absolute;
	bottom: -36px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	white-space: nowrap;
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.5;
}

span.icon>.platform-tooltip::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent rgba(0, 0, 0) transparent;
	position: absolute;
	top: -4px;
	left: 50%;
	transform: translateX(-50%);
}

span.icon:hover>.platform-tooltip {
	display: block;
}
/* 10_frame.css */
body {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	-webkit-align-items: center;
align-items: center;
}

body > aside {
	width: 100%;
	max-width: 100%;
}

body > *:not(aside),
.container {
	width: 100%;
	max-width: 1288px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 64px;
}

@media (max-width: 648px) {
	body > *:not(aside),
	.container {
		padding: 0 32px;
	}
}

@media (max-width: 392px) {
	body > *:not(aside),
	.container {
		padding: 0 16px;
	}
}

/* 11_header.css */
header {
	align-self: stretch;
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	-webkit-align-items: center;
align-items: center;
}

header nav {
	width: 100%;
	min-height: 48px;
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
	-webkit-align-items: center;
align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 16px;
}

header nav .title {
	font-size: 1.25rem;
}

header h3 {
	margin-right: 40px;
	margin-bottom: 8px;
}

header ul {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
	-webkit-align-items: center;
align-items: center;
}

header li {
	margin: 4px 0;
}

header li:not(:last-of-type) {
	margin-right: 24px;
}

header .iconline > .icon {
	font-size: 1.125em;
	margin-right: 8px;
}

/* 12_footer.css */
footer {
	display: grid;
	grid-template-columns: repeat(3, 360px);
	column-gap: 40px;
	row-gap: 20px;
	margin: 40px 0;
}

footer address {
	font-style: normal;
	margin-top: 5px;
}

footer address a {
	display: inline-block;
	padding: 12px 6px;
}

footer address a .icon {
	font-size: 1.25rem;
}

@media (max-width: 1288px) {
	footer {
		grid-template-columns: auto 360px;
	}
}

@media (max-width: 888px) {
	footer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	footer {
		grid-template-columns: auto;
	}
}

/* 30_misc_widgets.css */
aside.box,
.version-warning {
	background-color: var(--secondary-background-color);
}

aside.box,
.version-warning .container {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
	-webkit-align-items: center;
align-items: center;
}

aside.box {
	padding: 0 16px;
	margin: 20px 0;
}

aside.box .icon,
.version-warning .icon {
	color: var(--bar-icon-color);
	font-size: 1.25rem;
	margin-right: 20px;
}

aside.box p,
.version-warning p {
	margin: 13px 0;
}


.iconline {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
}

.iconline > .icon {
	font-size: 1.25em;
	margin-right: 0.5em;
}


.avatar-alt {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-align-items: center;
align-items: center;
	-webkit-justify-content: center;
justify-content: center;
}

.avatar {
	border-radius: 50%;
	overflow: hidden;
}


.link_container li {
	padding: 8px 0;
}

.link_container p {
	margin-bottom: 4px;
}

/* 31_towcolumn_frame.css */
.tcframe {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
}

.tcframe > .leftbox {
	-webkit-flex-grow: 1;
flex-grow: 1;
}

.tcframe > .rightbox {
	margin-left: 40px;

	width: 360px;
	max-width: 360px;

	-webkit-flex-shrink: 0;
flex-shrink: 0;
	-webkit-align-self: flex-start;
align-self: flex-start;
}

@supports (position: sticky) {
	@media (min-width: 888px) {
		.tcframe.tcsticky .rightbox {
			min-height: 100vh;
			position: sticky;
			bottom: 0;
			padding: 24px 0;

			-webkit-align-self: flex-end;
align-self: flex-end;
		}
	}
}

@media (max-width: 1128px) and (min-width: 1068px) {
	.tcframe .leftbox {
		width: 600px;
		max-width: 600px;
	}

	.tcframe .rightbox {
		-webkit-flex-shrink: 1;
flex-shrink: 1;
	}
}

@media (max-width: 1068px) {
	.tcframe .rightbox {
		width: 300px;
		max-width: 300px;
	}
}

@media (max-width: 888px) {
	.tcframe {
		display: -ms-flexbox;
display: -webkit-flex;
display: flex;
		-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	}

	.tcframe .rightbox {
		width: 100%;
		max-width: 100%;

		-webkit-align-self: stretch;
align-self: stretch;

		-webkit-order: 0;
		order: 0;

		margin-left: 0;
		margin-bottom: 24px;
	}

	.tcframe .leftbox {
		-webkit-order: 1;
		order: 1;

		margin-right: 0;
	}
}

/* 32_game_entry.css */
.game_entry .thumbnail {
	width: 100%;
	max-width: 360px;
	height: auto;
}

.game_entry hr {
	margin: 24px 0;
}

.game_entry .game_name {
	margin: 0;
	font-weight: 700;
	font-size: 2.125rem;
}

.game_entry .description {
	margin-bottom: 40px;
}

.game_entry .description ul {
	padding-left: 40px;
	margin: 1em 0;
	list-style-type: initial;
}

.game_entry .media > *:not(picture),
.game_entry .media img,
.game_entry .description img {
	margin-bottom: 16px;
	width: 100%;
	max-width: 100%;
}

.game_entry .media > .hbox {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
	-webkit-justify-content: space-between;
justify-content: space-between;
}

.game_entry .media > .hbox > * {
	-webkit-flex-grow: 1;
flex-grow: 1;
}

.game_entry .tags {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	column-gap: 40px;
}

.game_entry .tags > div {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
	-webkit-align-items: flex-start;
align-items: flex-start;

	margin-bottom: 8px;

	break-inside: avoid-column;
}

/* workarouds for Firefox */
@supports not (break-inside: avoid-column) {
	.game_entry .tags > div {
		page-break-inside: avoid;
		overflow: hidden;
	}
}

.game_entry .tags dt {
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
	margin-bottom: 4px;
}

.game_entry .tags dd {
	display: -ms-inline-flexbox;
display: -webkit-inline-flex;
display: inline-flex;
	margin: 0;
	margin-bottom: 4px;
}

.game_entry .tags dd:not(:last-of-type) {
	margin-right: 4px;
}

.game_entry .tags dd > a {
	padding: 0px 4px;
	border: 1px solid currentColor;
}

.game_entry .staff:empty {
	display: none;
}

.game_entry .staff {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	column-gap: 40px;

	margin-bottom: 40px;
}

.game_entry .staff li {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
	-webkit-align-items: center;
align-items: center;

	padding: 6.5px 0;

	break-inside: avoid-column;
}

/* workarouds for Firefox */
@supports not (break-inside: avoid-column) {
	.game_entry .staff li {
		page-break-inside: avoid;
		overflow: hidden;
	}
}

.game_entry .staff li > span {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
}

.game_entry .staff .avatar {
	width: 40px;
	height: 40px;

	margin-right: 20px;

	-webkit-flex-shrink: 0;
flex-shrink: 0;
}

.game_entry .staff .roles {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

.game_entry .staff .roles > span:not(:last-of-type) {
	margin-right: 8px;
}

.game_entry .platforms {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
	-webkit-align-items: center;
align-items: center;
	-webkit-justify-content: flex-end;
justify-content: flex-end;

	padding: 8px 0;
	margin-top: 8px;
}

.game_entry .platforms .icon {
	font-size: 1.25rem;
	margin-left: 0.2em;
}

@media (max-width: 472px) {
	.game_entry .game_name {
		font-size: 1.5rem;
	}

	.game_entry .tags,
	.game_entry .staff {
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-count: auto;
	}

	.game_entry .media > .hbox {
		-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
		-webkit-justify-content: flex-start;
justify-content: flex-start;
	}

	.game_entry .media > .hbox > * {
		-webkit-flex-grow: 0;
flex-grow: 0;
	}
}

/* 33_list_item.css */
.item_container > hr {
	margin: 24px 0;
}

.item_container > hr:last-of-type {
	margin: 40px 0 0 0;
}

.item {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
}

.item_complex {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
}

.item > section {
	-webkit-flex-grow: 1;
flex-grow: 1;

	margin-right: 40px;
}

.item .game_name,
.item_complex .game_name {
	margin: 0 0 2px 0;
	font-size: 2.125rem;
}

.item > picture {
	-webkit-flex-shrink: 0;
flex-shrink: 0;
	-webkit-align-self: center;
align-self: center;
}

.item > picture > img {
	max-width: 360px;
	width: 360px;
	height: auto;
}

.item.inleftbox > picture > img {
	max-width: 240px;
	width: 240px;
	height: auto;
}

.item_complex .tags {
	margin-bottom: 8px;
}

@supports (position: sticky) {
	.item_complex .rightbox {
		position: sticky;
		top: 24px;

		-webkit-align-self: flex-start;
align-self: flex-start;
	}
}

@media (max-width: 1288px) {
	.item.inleftbox {
		display: -ms-flexbox;
display: -webkit-flex;
display: flex;
		-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	}

	.item.inleftbox > picture {
		-webkit-align-self: stretch;
align-self: stretch;

		-webkit-order: 0;
		order: 0;

		margin-bottom: 14px;
	}

	.item.inleftbox > picture > img {
		max-width: 360px;
		width: 100%;
		height: auto;
	}

	.item.inleftbox > section {
		-webkit-order: 1;
		order: 1;

		margin-right: 0;
	}
}

@media (max-width: 888px) {
	.item {
		display: -ms-flexbox;
display: -webkit-flex;
display: flex;
		-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	}

	.item > picture {
		-webkit-align-self: stretch;
align-self: stretch;

		-webkit-order: 0;
		order: 0;

		margin-bottom: 14px;
	}

	.item_complex .rightbox {
		position: static;
		top: unset;
	}

	.item > picture > img,
	.item_complex .thumbnail {
		max-width: 360px;
		width: 100%;
		height: auto;
	}

	.item > section {
		-webkit-order: 1;
		order: 1;

		margin-right: 0;
	}
}

@media (max-width: 472px) {
	.item .game_name,
	.item_complex .game_name {
		font-size: 1.5rem;
	}
}

/* 40_main_index.css */
.main_index {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	width: 100%;
	max-width: 1288px;
	margin: 40px 0;
}

.main_index h1 {
	font-size: 3.5rem;
	font-weight: 700;
	margin: 0;
	margin-bottom: 3px;
}

.main_index h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 3px;
}

.main_index > .content {
	margin-top: 20px;

	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
}

.main_index > .content > article {
	margin-right: 40px;

	width: 100%;
	max-width: 760px;
}

.main_index > .content > nav {
	font-size: 1.5rem;

	-webkit-flex-shrink: 0;
flex-shrink: 0;
}

.main_index nav a:not(:last-of-type) {
	margin-bottom: 16px;
}

@media (max-width: 888px) {
	.main_index .content {
		-webkit-flex-flow: column nowrap;
flex-flow: column nowrap;
	}

	.main_index > .content > article {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.main_index nav {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-moz-column-gap: 40px;
		-webkit-column-gap: 40px;
		column-gap: 40px;
	}

	.main_index nav > a {
		break-inside: avoid-column;
	}

	/* workarouds for Firefox */
	@supports not (break-inside: avoid-column) {
		.main_index nav > a {
			page-break-inside: avoid;
			overflow: hidden;
		}
	}

	.main_index nav > a:nth-of-type(2) {
		break-after: column;
	}
}

@media (max-width: 648px) {
	.main_index nav {
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-count: auto;
	}

	.main_index h1 {
		font-size: 2.8125rem;
	}

	.main_index h2 {
		font-size: 1.25rem;
	}
}

@media (max-width: 472px) {
	.main_index h1 {
		font-size: 2.125rem;
	}
}

/* 40_main_game.css */
.main_game {
	margin: 40px 0;
}

.main_game .game_name {
	margin-bottom: 16px;
}

.main_game .description {
	font-size: 1.25rem;
}

.main_game .tags {
	margin-bottom: 40px;
}

.sscreen {
	display: none;
}

@media (max-width: 888px) {
	.main_game {
		margin: 24px 0;
	}

	.main_game .rightbox {
		display: none;
	}

	.main_game .sscreen {
		display: unset;
	}

	.main_game .sscreen_logo {
		margin: 24px 0;
	}

	.main_game .sscreen_logo .thumbnail {
		max-width: 360px;
		height: auto;
	}
}

@media (max-width: 472px) {
	.main_game .description {
		font-size: 1rem;
	}
}

/* 40_main_list.css */
.main_list {
	margin-top: 40px;
}

.main_list > hr {
	margin: 20px 0;
}

.main_list > hr:last-of-type {
	margin: 40px 0 0 0;
}

.main_list .category {
	display: table;
	margin-bottom: 20px;
}

.main_list .category > li {
	display: table-row;
}

.main_list .category > li > * {
	display: table-cell;
	padding: 4px 0;
}

.main_list .category .cthead {
	padding-right: 12px;
	text-align: right;
	white-space: nowrap;
}

.main_list .category .ctbody {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

.main_list .category .ctbody > *:not(:last-of-type) {
	margin-right: 8px;
}

/* 41_misc_pages.css */
.main_author {
	margin-top: 40px;
}

.main_author hr {
	margin: 24px 0;
}

.main_author .author_head {
	display: -ms-flexbox;
display: -webkit-flex;
display: flex;
	-webkit-flex-flow: row nowrap;
flex-flow: row nowrap;
	-webkit-align-items: center;
align-items: center;
}

.main_author .author_head .avatar {
	margin-right: 20px;
	width: 48px;
	height: 48px;
}

.main_author h1 {
	font-size: 1.5rem;
	margin: 0;
}

.main_author .author_aliases {
	margin: 6px 0 0 68px;
}


.main_simple_markdown {
	margin: 40px 0;
	line-height: 1.49
}

.main_simple_markdown p {
	margin: 1em 0;
}

.main_simple_markdown table {
	border: 1px solid var(--accent-text-color);
	border-collapse: collapse;
}

.main_simple_markdown table td {
	padding: 7px 24px;
}

.main_simple_markdown tbody>tr:nth-child(odd) {
	background-color: var(--accent-background-color);
}

.main_simple_markdown code {
	font-size: .94em;
	padding: 2px 4px;
	background-color: var(--accent-background-color);
	border-radius: 2px;
}


.main_preferences {
	margin: 40px 0;
}

.main_preferences article,
.main_preferences hr {
	margin-top: 40px;
}

.main_preferences h2 {
	margin-bottom: 40px;
}

.main_preferences .note {
	margin: 20px 0 0 26px;
}


.main_search {
	margin-top: 40px;
}

.main_search #search_mode {
	min-height: 26px;
}

.main_search #search_wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 8px;
}

.main_search #search_value {
	line-height: 1.4;
	min-height: 26px;
	max-width: 400px;
	margin: 5px 6px 0 0;
	flex: 1 0 auto;
}

.main_search #search_info {
	margin: 20px 0;
}


.main_generic {
	margin: 40px 0;
}
